{% extends "base/public.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_public %}
<div class="con">
    <div class="mianbaoxie">
        <a href="javascript:;">{% trans '管理员操作记录' %}</a>
	</div>
    <!--查询头-->
	<div class="search">
        <div class="search_in layui-form" >

            <div class="fl layui_user">
                <input type="text" class="search_input" id="username" lay-verify="" placeholder="{% trans "请输入用户名" %}" autocomplete="off" class="layui-input">
                <span class="search_user"></span>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">{% trans "选择日期" %}</label>
                <div class="layui-input-inline input-group">
                    <input type="text" placeholder="{% trans "请选择日期" %}" style="width:208px;" class="form-control daterange data_time" name="code_data" id="code_data">
                </div>
            </div>
        </div>
    </div>
    <div class="main">
	<!--显示列表-->
        <div class="list">
            <div class="conlist">

                <table id="accounts_list" class="layui-hide" lay-filter="parse-table-demo">

                </table>
                <div id="page"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="list_button">
  <a class="layui-btn layui-btn-xs" lay-event="edit">{% trans "操作记录" %}</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{% trans "删除" %}</a>
</script>
<script>
    document.write('<script src="{% static 'js/accounts/admin_operate_log.js' %}?v='+Math.random()+'"><\/script>');
</script>
{% endblock %}

