{% extends "base/public.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_public %}

<div class="con">
    <div class="mianbaoxie">
        <i class="layui-icon layui-icon-return fl"></i>
        <a href="javascript:;">{% trans '新建角色' %}</a>
	</div>
    <!--查询头-->
    <div class="main main_in">
        <div class="list">
            <h5 class="mian_h5 process_h5">{% trans "创建流程" %}</h5>
            <ul class="progress">
                <li class="active"><span>01</span>{% trans "填写角色信息" %}</li>
                <li><span>02</span>{% trans "设定权限" %}</li>
                <li><span>03</span>{% trans "完成" %}</li>
            </ul>

        <!--lay_first-->
            <div class="layui-form" id="lay_form">
                <h5 class="mian_h5">{% trans "角色信息" %}</h5>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>{% trans "角色" %}</label>
                    <div class="layui-input-block">
                       <input type="text" name="name" id="name" lay-verify="name"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{% trans "描述" %}</label>
                    <div class="layui-input-block">
                      <input id="describe" type="text" name="describe"  lay-verify="describe" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">{% trans "备注" %}</label>
                    <div class="layui-input-block">
                      <input id="remarks" type="text" name="remarks"  lay-verify="remarks" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-blue" lay-submit lay-filter="next_step_first">{% trans '下一步' %}</button>
                    </div>
                </div>
            </div>
            <!--lay_first-->
            <!--lay_second-->
            <div class="layui-form" id="lay_second" style="display:none;">
                <h5 class="mian_h5" style="padding-bottom: 10px;">{% trans "操作权限" %}</h5>
                <button class="layui-btn layui-btn-blue" lay-submit lay-filter="add_permissions">{% trans '添加操作权限' %}</button>
                <table class="layui-table mt_20" id="permissions_table"  lay-filter="add_permissions_table" >
                    <thead>
                        <tr>
                          <th lay-data="{field:'services'}">{% trans "产品/服务" %}</th>
                          <th lay-data="{field:'operation_name'}">{% trans "操作名称" %}</th>
                          <th lay-data="{field:'city',toolbar: '#list_button'}">{% trans "操作" %}</th>
                        </tr>
                    </thead>
                     <tbody id="server_tbody">

                    </tbody>
                </table>
                <div class="button_all">
                    <button class="layui-btn layui-btn-blue" lay-submit lay-filter="step_pre">{% trans '上一步' %}</button>
                    <button class="layui-btn layui-btn-blue" lay-submit lay-filter="step_next">{% trans '下一步' %}</button>
                </div>

            </div>
            <!--lay_second-->
            <!--lay_last-->
            <div class="layui-form" id="lay_last" style="display:none;">
                <h5 class="mian_h5" style="padding-bottom: 10px;">{% trans "角色信息" %}</h5>
                <table id="role_table" class="layui-hide" lay-filter="role_table">

                </table>
                <h5 class="mian_h5" style="padding-bottom: 10px;">{% trans "操作权限" %}</h5>
                <table class="layui-table" id="authority_table"  lay-filter="add_authority_table">
                    <thead>
                        <tr>
                          <th lay-data="{field:'services'}">{% trans "产品/服务" %}</th>
                          <th lay-data="{field:'operation_name'}">{% trans "操作名称" %}</th>
                          <th lay-data="{field:'city',toolbar: '#list_button'}">{% trans "操作" %}</th>
                        </tr>
                    </thead>
                     <tbody id="authority_tbody">

                    </tbody>
                </table>
                <div>
                    <button class="layui-btn layui-btn-blue" lay-submit lay-filter="step_third">{% trans '上一步' %}</button>
                    <button class="layui-btn layui-btn-blue" lay-submit lay-filter="step_over">{% trans '完成' %}</button>
                </div>
            </div>
            <!--lay_last-->
        </div>
    </div>
</div>

<script>
    perm={{ perm | safe }};
    perm_type={{ perm_type | safe }};
    document.write(
        '<script src="{% static 'js/accounts/create_parent_user.js' %}?v='+Math.random()+'"><\/script>');

</script>
{% endblock %}

