{% load i18n %}
{% load staticfiles %}
<div class="search">
    <div class="list" style="padding:0 0 20px;">
        <div class="layui-form" id="form_details">
            <h5 class="mian_h5">{% trans "CC部署" %}</h5>
            <div class="layui-form-item">
                <div class="deploy_top">
                    <label>{% trans "1、请在CMS3中，进行安全收条配置，以确保CC功能生效。 " %}</label>
                </div>
                <div class="deploy_top">&nbsp;&nbsp;&nbsp;&nbsp; <a class="blue deploy_a" href="javascript:;">{% trans "前往CMS3配置 " %}</a>
                </div>
                <div class="deploy_top">&nbsp;&nbsp;&nbsp;&nbsp; <input id="is_api" title="{% trans '确认安全收条已在CMS3中配置成功并生效' %}" type="checkbox" name="is_api" value="0" lay-skin="primary">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="deploy_top">
                    <label>{% trans "2、请测试Elestic Search是否生效。" %}</label>
                </div>
                <div class="deploy_top">&nbsp;&nbsp;&nbsp;&nbsp; <a class="blue deploy_a" href="javascript:;">{% trans "检测ES" %}</a>
                </div>
                <div class="deploy_top">&nbsp;&nbsp;&nbsp;&nbsp; <input id="is_api" title="{% trans '确认Elestic Search已经生效' %}" type="checkbox" name="is_api" value="0" lay-skin="primary">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main_alarm">
    <div class="list">
        <h5 class="mian_h5">{% trans "CC防御配置" %}</h5>
        <div class="layui-form-item">
            <div class="deploy_top">
                <label class="blue">{% trans "说明：“动态”是指post或带有参数的请求；“静态”是指除动态之外的请求。" %}</label>
            </div>
        </div>
        <h6 class="mian_h6">{% trans "启动阙值" %}</h6>
        <div class="layui-tab layui-tab-card tab_border">
          <ul class="layui-tab-title tab_second">
            <li class="layui-this">{% trans "默认" %}</li>
            <li>{% trans "自定义" %}</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="startup_threshold" class="layui-hide" lay-filter="startup_threshold">
                </table>
            </div>
            <div class="layui-tab-item">

            </div>
          </div>
        </div>
        <h6 class="mian_h6">{% trans "IP识别规则" %}</h6>
        <div class="layui-tab layui-tab-card tab_border">
          <ul class="layui-tab-title tab_second">
            <li class="layui-this">{% trans "默认" %}</li>
            <li>{% trans "自定义" %}</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="recognition_ip" class="layui-hide" lay-filter="recognition_ip">
                </table>
            </div>
            <div class="layui-tab-item">

            </div>
          </div>
        </div>
        <h6 class="mian_h6">{% trans "告警配置" %}</h6>
        <div class="layui-tab layui-tab-card tab_border">
          <ul class="layui-tab-title tab_second">
            <li class="layui-this">{% trans "默认" %}</li>
            <li>{% trans "自定义" %}</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="alarm_configuration" class="layui-hide" lay-filter="alarm_configuration">
                </table>
            </div>
            <div class="layui-tab-item">

            </div>
          </div>
        </div>
    </div>
    <div class="layui-form-item" style="padding:0 20px;">
        <button class="checkBtn fl" id="user_sure" onclick="user_sure()">{% trans '下发CC防御配置' %}</button>
        <button class="checkBtn fl btn_cancel" id="user_cancel" onclick="user_cancel()">{% trans '还原' %}</button>
    </div>
    <div class="main_shadow"></div>
</div>

<script type="text/html" id="startup_button">
    <a class="layui-btn layui-btn-xs" lay-event="edit">{% trans "编辑" %}</a>
    <a class="layui-btn layui-btn-xs" style="display: none" lay-event="preservation">{% trans "保存" %}</a>
    <a class="layui-btn layui-btn-xs" style="display: none" lay-event="cancel">{% trans "取消" %}</a>
</script>
<script type="text/html" id="recognition_button">
  <a class="layui-btn layui-btn-xs" lay-event="edit">{% trans "编辑" %}</a>
</script>
<script type="text/html" id="alarm_button">
    <a class="layui-btn layui-btn-xs" lay-event="edit">{% trans "编辑" %}</a>
    <a class="layui-btn layui-btn-xs" style="display: none" lay-event="preservation">{% trans "保存" %}</a>
    <a class="layui-btn layui-btn-xs" style="display: none" lay-event="cancel">{% trans "取消" %}</a>
</script>
<script>
    document.write('<script src="{% static 'js/cms/alarm.js' %}?v='+Math.random()+'"><\/script>');
</script>



