{% load i18n %}
{% load staticfiles %}
<div class="main main_in lay_configure ceche_conf">
    <div class="list layui-form">
        <h5 class="mian_h5">{% trans "缓存设置" %}
            {% if 'admin_cdn_create_domain' in user_perm or 'client_cdn_create_domain' in user_perm %}
                {% if domain.status == '已启动' %}
                    <button class="layui-btn layui-btn-xs conf_edit" style="margin-left:20px;" lay-submit lay-filter="https_edit" id="2">{% trans '编辑' %}</button>
                {% else %}
                    <button class="layui-btn layui-btn-xs conf_edit layui-btn-gray" disabled style="margin-left:20px;" lay-submit lay-filter="https_edit">{% trans '编辑' %}</button>
                {% endif %}
            {% endif %}
        </h5>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:95px;">{% trans "header配置" %}</label>
{#            <div class="layui-input-block user_details" id="service"></div>#}
            <div class="layui-input-block" style="z-index:100;">
                {% if domain.ignore_cache_control == 0 %}
                    <input class="que_tips" disabled type="checkbox" name="ignore_cache_control" lay-filter="ignore_cache_control" lay-skin="primary" value="{% trans "忽略CacheControl" %}" title="{% trans "忽略CacheControl" %}">
                {% else %}
                    <input class="que_tips" disabled type="checkbox" checked name="ignore_cache_control" lay-filter="ignore_cache_control" lay-skin="primary" value="{% trans "忽略CacheControl" %}" title="{% trans "忽略CacheControl" %}">
                {% endif %}
                <span class="hover_span">
                    <i class="layui-icon layui-icon-help" style=""></i>
                    <span class="remarks_span">{% trans "是否忽略返回头中的cache-control头部对请求内容进行缓存" %}</span>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:95px;">{% trans "参数配置" %}</label>
{#            <div class="layui-input-block user_details" id="service_type">WAF</div>#}
            <div class="layui-input-block ">
                {% if domain.ignore_query_string == 0 %}
                    <input class="que_tips" disabled type="checkbox" name="ignore_query_string" lay-filter="ignore_query_string" lay-skin="primary" value="{% trans "忽略URL参数" %}" title="{% trans "忽略URL参数" %}">
                {% else %}
                    <input class="que_tips" disabled type="checkbox" checked name="ignore_query_string" lay-filter="ignore_query_string" lay-skin="primary" value="{% trans "忽略URL参数" %}" title="{% trans "忽略URL参数" %}">
                {% endif %}
                <span class="hover_span">
                    <i class="layui-icon layui-icon-help" style=""></i>
                    <span class="remarks_span">{% trans "是否忽略用户请求URL中“？”之后的参数" %}</span>
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:95px;">{% trans "缓存规则" %}</label>
            <div class="layui-input-block">
                <button class="fl layui-btn layui-btn-gray" disabled id="add_cache_id" style="margin-bottom: 20px;" lay-submit lay-filter="add_cache">{% trans '添加' %}</button>
                <button class="fl layui-btn layui-btn-gray" disabled lay-submit lay-filter="priority_adjust">{% trans '调整优先级' %}</button>
                <table class="layui-table mt_20 " id="permissions_table"  lay-filter="add_permissions_table">
                    <thead>
                        <tr>
                          <th lay-data="{field:'type'}">{% trans "类型" %}</th>
                          <th lay-data="{field:'content'}" width="60%">{% trans "内容" %}</th>
                          <th lay-data="{field:'caching_time'}">{% trans "缓存时间" %}</th>
                          <th lay-data="{field:'operation',toolbar: '#list_button'}">{% trans "操作" %}</th>
                        </tr>
                    </thead>
                     <tbody id="cache_tbody">

                    </tbody>
                </table>
                <div class="cache_sort prioritization">
                    <p class="p6">{% trans "根据列表中配置项的顺序来确定优先级，列表底部的优先级大于列表顶部" %}</p>
                    <button class="fr layui-btn layui-btn-xs" lay-submit lay-filter="cancel_sort">{% trans '取消' %}</button>
                    <button class="fr layui-btn layui-btn-xs" style="margin-right:20px;" lay-submit lay-filter="sure_sort">{% trans '确定' %}</button>
                </div>

            </div>
        </div>
       <!--<button class="layui-btn layui-btn-blue mt_20" lay-submit lay-filter="lay_submit">{% trans '提交' %}</button>-->
    </div>
    <div class="list layui-form user_add">
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-blue" lay-submit lay-filter="lay_submit_cache">{% trans '确定' %}</button>
            <button class="layui-btn layui-btn-blue lay_cancel"  lay-submit lay-filter="lay_cancel_cache">{% trans '取消' %}</button>
        </div>
    </div>
</div>