{% extends "base/public.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_public %}

<div class="con">
    <div class="mianbaoxie">
        <a href="javascript:;">{% trans '访问密钥' %}</a>
	</div>
    <!--查询头-->
	<div class="search">
        <div class="search_in layui-form" >
            <button class="checkBtn fl" lay-submit lay-filter="add_key">{% trans '新建密钥' %}</button>
        </div>
    </div>

    <div class="main">
	<!--显示列表-->
        <div class="list">
            <div class="conlist">
                <table class="layui-table" id="api_key"  lay-filter="api_key" style="margin-top: 10px;">
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="list_button">
  <a class="layui-btn layui-btn-xs layui_status" lay-event="status"></a>
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">{% trans "删除" %}</a>
</script>
<script>
    api_info={{ user.api_info | safe }}
    document.write('<script src="{% static 'js/user/user_secret_info_details.js' %}?v='+Math.random()+'"><\/script>'+
    '<script src="{% static 'js/user/public_key.js' %}?v='+Math.random()+'"><\/script>');
</script>

{% endblock %}

