{%  extends "base/public.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body_public %}
<div class="con">
    <div class="mianbaoxie">
        <i class="layui-icon layui-icon-return fl"></i>
        <a href="javascript:;">
            {% trans '修改密码' %}
        </a>
	</div>
    <!--查询头-->
	<div class="main main_in layui-form">
        <div class="list layui-form tab_border">
            <div class="layui-form-item">
                <label class="layui-form-label" style="">{% trans "当前密码" %}</label>
                <div class="layui-input-block">
                    <input type="text" style="display:none;" autocomplete="off" placeholder="" class="layui-input">
                    <input type="password" id="password" name="password" lay-verify="password" autocomplete="off" placeholder="" class="layui-input domain">
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" style="z-index:100;" id="que_tips"><i>*</i>{% trans "新密码" %}
                    <span class="hover_span">
                        <i class="layui-icon layui-icon-help" style=""></i>
                        <span class="remarks_span">{% trans "6-20位数字、字母组合，区分大小写" %}</span>
                    </span>
                </label>
                <div class="layui-input-block">
                    <input type="text" style="display:none;" autocomplete="off" placeholder="" class="layui-input">
                    <input type="password" id="new_password" name="new_password" lay-verify="new_password" autocomplete="off" placeholder="" class="layui-input domain">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{% trans "确认密码" %}</label>
                <div class="layui-input-block">
                    <input type="text" style="display:none;" autocomplete="off" placeholder="" class="layui-input">
                    <input type="password" id="confirm_password" name="confirm_password" lay-verify="confirm_password" autocomplete="off" placeholder="" class="layui-input confirm_password">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:95px;"></label>
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-blue mt_20" lay-submit lay-filter="lay_submit">{% trans '提交' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
if(lan == 'en'){
    $('.layui-form-label').width(128)
}else{
    $('.layui-form-label').width(95)
}
document.write(
    '<script src="{% static 'js/user/user_change_password.js' %}?v='+Math.random()+'"><\/script>');
</script>
{% endblock %}
